@font-face {
	font-family: 'Pe-icon-7-stroke';
	src:url('../fonts/Pe-icon-7/Pe-icon-7-stroke.eot?d7yf1v');
	src:url('../fonts/Pe-icon-7/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),
		url('../fonts/Pe-icon-7/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
		url('../fonts/Pe-icon-7/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
		url('../fonts/Pe-icon-7/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon{
	font-family: 'Pe-icon-7-stroke';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	font-size: 1.4em;
	vertical-align: middle;
	margin-bottom: 2px;
	margin-right: 3px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.album:before {content: "\e6aa";}
.arc:before {content: "\e6ab";}
.back-2:before {content: "\e6ac";}
.bandaid:before {content: "\e6ad";}
.car:before {content: "\e6ae";}
.diamond:before {content: "\e6af";}
.door-lock:before {content: "\e6b0";}
.eyedropper:before {content: "\e6b1";}
.female:before {content: "\e6b2";}
.gym:before {content: "\e6b3";}
.hammer:before {content: "\e6b4";}
.headphones:before {content: "\e6b5";}
.helm:before {content: "\e6b6";}
.hourglass:before {content: "\e6b7";}
.leaf:before {content: "\e6b8";}
.magic-wand:before {content: "\e6b9";}
.male:before {content: "\e6ba";}
.map-2:before {content: "\e6bb";}
.next-2:before {content: "\e6bc";}
.paint-bucket:before {content: "\e6bd";}
.pendrive:before {content: "\e6be";}
.photo:before {content: "\e6bf";}
.piggy:before {content: "\e6c0";}
.plugin:before {content: "\e6c1";}
.refresh-2:before {content: "\e6c2";}
.rocket:before {content: "\e6c3";}
.settings:before {content: "\e6c4";}
.shield:before {content: "\e6c5";}
.smile:before {content: "\e6c6";}
.usb:before {content: "\e6c7";}
.vector:before {content: "\e6c8";}
.wine:before {content: "\e6c9";}
.cloud-upload:before {content: "\e68a";}
.cash:before {content: "\e68c";}
.close:before {content: "\e680";}
.bluetooth:before {content: "\e68d";}
.cloud-download:before {content: "\e68b";}
.way:before {content: "\e68e";}
.close-circle:before {content: "\e681";}
.id:before {content: "\e68f";}
.angle-up:before {content: "\e682";}
.wristwatch:before {content: "\e690";}
.angle-up-circle:before {content: "\e683";}
.world:before {content: "\e691";}
.angle-right:before {content: "\e684";}
.volume:before {content: "\e692";}
.angle-right-circle:before {content: "\e685";}
.users:before {content: "\e693";}
.angle-left:before {content: "\e686";}
.user-female:before {content: "\e694";}
.angle-left-circle:before {content: "\e687";}
.up-arrow:before {content: "\e695";}
.angle-down:before {content: "\e688";}
.switch:before {content: "\e696";}
.angle-down-circle:before {content: "\e689";}
.scissors:before {content: "\e697";}
.wallet:before {content: "\e600";}
.safe:before {content: "\e698";}
.volume2:before {content: "\e601";}
.volume1:before {content: "\e602";}
.voicemail:before {content: "\e603";}
.video:before {content: "\e604";}
.user:before {content: "\e605";}
.upload:before {content: "\e606";}
.unlock:before {content: "\e607";}
.umbrella:before {content: "\e608";}
.trash:before {content: "\e609";}
.tools:before {content: "\e60a";}
.timer:before {content: "\e60b";}
.ticket:before {content: "\e60c";}
.target:before {content: "\e60d";}
.sun:before {content: "\e60e";}
.study:before {content: "\e60f";}
.stopwatch:before {content: "\e610";}
.star:before {content: "\e611";}
.speaker:before {content: "\e612";}
.signal:before {content: "\e613";}
.shuffle:before {content: "\e614";}
.shopbag:before {content: "\e615";}
.share:before {content: "\e616";}
.server:before {content: "\e617";}
.search:before {content: "\e618";}
.film:before {content: "\e6a5";}
.science:before {content: "\e619";}
.disk:before {content: "\e6a6";}
.ribbon:before {content: "\e61a";}
.repeat:before {content: "\e61b";}
.refresh:before {content: "\e61c";}
.add-user:before {content: "\e6a9";}
.refresh-cloud:before {content: "\e61d";}
.paperclip:before {content: "\e69c";}
.radio:before {content: "\e61e";}
.note2:before {content: "\e69d";}
.print:before {content: "\e61f";}
.network:before {content: "\e69e";}
.prev:before {content: "\e620";}
.mute:before {content: "\e69f";}
.power:before {content: "\e621";}
.medal:before {content: "\e6a0";}
.portfolio:before {content: "\e622";}
.like2:before {content: "\e6a1";}
.plus:before {content: "\e623";}
.left-arrow:before {content: "\e6a2";}
.play:before {content: "\e624";}
.key:before {content: "\e6a3";}
.plane:before {content: "\e625";}
.joy:before {content: "\e6a4";}
.photo-gallery:before {content: "\e626";}
.pin:before {content: "\e69b";}
.phone:before {content: "\e627";}
.plug:before {content: "\e69a";}
.pen:before {content: "\e628";}
.right-arrow:before {content: "\e699";}
.paper-plane:before {content: "\e629";}
.delete-user:before {content: "\e6a7";}
.paint:before {content: "\e62a";}
.bottom-arrow:before {content: "\e6a8";}
.notebook:before {content: "\e62b";}
.note:before {content: "\e62c";}
.next:before {content: "\e62d";}
.news-paper:before {content: "\e62e";}
.musiclist:before {content: "\e62f";}
.music:before {content: "\e630";}
.mouse:before {content: "\e631";}
.more:before {content: "\e632";}
.moon:before {content: "\e633";}
.monitor:before {content: "\e634";}
.micro:before {content: "\e635";}
.menu:before {content: "\e636";}
.map:before {content: "\e637";}
.map-marker:before {content: "\e638";}
.mail:before {content: "\e639";}
.mail-open:before {content: "\e63a";}
.mail-open-file:before {content: "\e63b";}
.magnet:before {content: "\e63c";}
.loop:before {content: "\e63d";}
.look:before {content: "\e63e";}
.lock:before {content: "\e63f";}
.lintern:before {content: "\e640";}
.link:before {content: "\e641";}
.like:before {content: "\e642";}
.light:before {content: "\e643";}
.less:before {content: "\e644";}
.keypad:before {content: "\e645";}
.junk:before {content: "\e646";}
.info:before {content: "\e647";}
.home:before {content: "\e648";}
.help2:before {content: "\e649";}
.help1:before {content: "\e64a";}
.graph3:before {content: "\e64b";}
.graph2:before {content: "\e64c";}
.graph1:before {content: "\e64d";}
.graph:before {content: "\e64e";}
.global:before {content: "\e64f";}
.gleam:before {content: "\e650";}
.glasses:before {content: "\e651";}
.gift:before {content: "\e652";}
.folder:before {content: "\e653";}
.flag:before {content: "\e654";}
.filter:before {content: "\e655";}
.file:before {content: "\e656";}
.expand1:before {content: "\e657";}
.exapnd2:before {content: "\e658";}
.edit:before {content: "\e659";}
.drop:before {content: "\e65a";}
.drawer:before {content: "\e65b";}
.download:before {content: "\e65c";}
.display2:before {content: "\e65d";}
.display1:before {content: "\e65e";}
.diskette:before {content: "\e65f";}
.date:before {content: "\e660";}
.cup:before {content: "\e661";}
.culture:before {content: "\e662";}
.crop:before {content: "\e663";}
.credit:before {content: "\e664";}
.copy-file:before {content: "\e665";}
.config:before {content: "\e666";}
.compass:before {content: "\e667";}
.comment:before {content: "\e668";}
.coffee:before {content: "\e669";}
.cloud:before {content: "\e66a";}
.clock:before {content: "\e66b";}
.check:before {content: "\e66c";}
.chat:before {content: "\e66d";}
.cart:before {content: "\e66e";}
.camera:before {content: "\e66f";}
.call:before {content: "\e670";}
.calculator:before {content: "\e671";}
.browser:before {content: "\e672";}
.box2:before {content: "\e673";}
.box1:before {content: "\e674";}
.bookmarks:before {content: "\e675";}
.bicycle:before {content: "\e676";}
.bell:before {content: "\e677";}
.battery:before {content: "\e678";}
.ball:before {content: "\e679";}
.back:before {content: "\e67a";}
.attention:before {content: "\e67b";}
.anchor:before {content: "\e67c";}
.albums:before {content: "\e67d";}
.alarm:before {content: "\e67e";}
.airplay:before {content: "\e67f";}

