.bg-wahana{
	background: $core !important;

	&.darker{
		background: $core-darker !important;
	}
	&.lighter{
		background: $core-lighter !important;
	}
}

.text-wahana{
	background: $core !important;

	&.text-darker{
		background: $core-darker !important;
	}
	&.text-lighter{
		background: $core-lighter !important;
	}
}

.blue{
	@extend .bg-wahana;

	&.lighten-1{
		background: lighten($core, 10%) !important;
	}
}