
@media print {
	.sidebar,nav,.steps-container{
		display: none;
	}
	.content,.this-container,.this-content{
		display: block;
		box-shadow: none !important;
		border: none;
		padding: 0 !important;
		margin: 0 !important;
		position: relative;
	}
	.this-container ~ *{
		display: none;
	}
	.no-print{
		display: none;
	}
	.print_me_pls{
		display: block;

		.print_title{
			display: block;
		}
	}
}