@media (max-width: 480px){
    #datatables_wrapper{
	    .mdl-grid{
	    	&:nth-child(2){
			    margin-bottom: 40px;
	    	}
	    	&:nth-child(3){
			    position: fixed;
			    bottom: 0;
			    width: 100% !important;
			    background: white;
			    left: 0 !important;
			    padding: 10px !important;
			    text-align: center;

			    .mdl-cell--4-col{
			    	float: none !important;
			    }
		    	.pagination{
				    overflow-y: hidden !important;
				    width: 100% !important;
				    display: flex !important;
		    	}
	    	}
	    }
    }
	.ta-l-s{
		text-align: left;
	}
	.side-nav{
		.collapsible-header{
			font-size: 13px;
			position: relative;

			.icon.angle-down{
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
	.this-container{
		height: $full-width;
		padding: 0;

		.this-content{
			box-shadow: none !important;
			position: fixed;
			right: 0;
			left: 0;
			margin: auto;
			width: 100%;
			height: 100%;
			@include alpha($bg, white, $bg-color);

			> .row{
				border-radius: 5px;
				overflow: hidden;

				> .col{
					padding: 0;

					.sidebar-brand{
						margin: 11px;
						height: 45px;
						width: 45px;
					}

					.sidebar{
						width: 100%;
						height: calc(90vh - 64px);
						overflow: auto;
						@include alpha($bg, white, .85);
						border-right: thin solid #eee;
						position: relative;

						ul{
							width: 100%;
							li{
								a{
									display: block;
									padding: 15px 30px;
									padding-left: 10px;
									color: $link;

									&:hover{
										background: rgba(221, 221, 221, 0.5);
									}
								}

								&.active{
									&>a{
										background: $core;
										color: #fff;
									}
								}

								ul{
									position: relative;

									&:before{
									    content: "";
									    position: absolute;
									    height: 100%;
									    width: 2px;
									    background: $core;
									    left: 40px;
									    top: 0;
									    z-index: 9;
									}

									li{
										position: relative;

										&::before{
										    content: "";
										    position: absolute;
										    left: 37px;
										    width: 8px;
										    height: 8px;
										    background: $core;
										    top: 24px;
										    border-radius: 9em;
										}
									}
								}
							}
						}
					}

					.content{
					    height: calc(100vh - 99.5px);
					    padding: 15px;
					    overflow: auto;
					    position: relative;

					    form{
					    	.col{
					    		margin-bottom: 10px;

						    	&.s3{
						    		font-size: 13px;
									padding-top: 10px;
						    	}
					    	}
					    }

					    .dataTables_wrapper{
					    	margin-bottom: 20px;

					    	.dataTables_info{
					    		font-size:13px;
					    		padding-top:5px;
					    	}

					    	div.dataTables_processing{
					    		position: absolute;
					    		padding-top: 10%;
					    		left: 0;
					    		right: 0;
					    		top: 0;
					    		bottom: 0;
					    		width: 100%;
					    		height: 100%;
					    		margin: auto;
					    		@include alpha($bg, #eee, .9);
					    		font-weight: 600;
					    		font-size: 20px;
								font-family: 'Raleway', sans-serif;
					    	}

					    	.mdl-button{
								border: none;
								border-radius: 2px;
								display: inline-block;
								height: 30px;
								font-size: 14px;
								line-height: 1.4;
								outline: 0;
								padding: 5px 1rem;
								text-transform: uppercase;
								vertical-align: middle;
								-webkit-tap-highlight-color: transparent;
								background: $core;
								border-radius: 0;
								color: #fff;

							    &:before{
							    	content:'';
							    }

							    &.mdl-button--colored{
							    	background: color('wahana','dark');
							    }
					    	}
					    }

					    td, th{
					    	font-size: 15px;
					    	border-radius:0;

							.btn,.btn-flat{
							    font-size: 13px;
							    display: inline-flex;
							    padding: 5px 10px;
							    margin: 0 3px 5px 3px;
							    height: auto;
							    line-height: 1.5;
					    	}
					    }
					    td{
					    	padding: 5px 25px;
					    }

					    .headline{
					    	padding: 30px;
					    	margin-bottom: 30px;
					    	@include border-radius(5px);
					    	@include alpha($bg, white, .9);
					    	@include border(1px,solid,#ddd);
					    	/*@extend .z-depth-1;*/
					    }

						&.no-steps{
						    height: calc(90vh - 64px);
						}

						.block{
							width: 100%;
							display: block;
						}
					}
				}
			}
		}


		nav{
			ul{
				li{
					max-height: 64px;
				}
			}

			.nav-wrapper{
				ul.right{
					*{
						font-size: 12px;
					}
				}
				.btn{
					padding: 0 1rem;
				}
				.brand-logo{
					font-size: 14px !important;
					margin-left: 0;
					font-size: 1.5em;
					width: 100%;
					padding: 0 15px;
					padding-left: 25px;
				}
			}
		}
	}
	.button-collapse{
	    position: fixed;
	    top: 15px;
	    left: -5px;
	    color: white;
	    font-weight: bold;
	}
.bg-cream{
	background:#F8F0DA;

			&:hover{
			background: rgba(221,221,221,0.5);
		}
	}
}