.this-container{
	height: $full-width;
	// padding: 30px;
	padding: 0;

	.this-content{
		border-radius: 5px;
		@extend .z-depth-1;
		position: fixed;
		right: 0;
		left: 0;
		margin: auto;
		// width: 90%;
		// height: 90%;
		width: 100%;
		height: 100%;
		// @include alpha($bg, white, $bg-color);
		background: $content-bg;

		> .row{
			// border-radius: 5px;
			overflow: hidden;

			> .col{
				padding: 0;

				.sidebar-brand{
					margin: 11px;
					height: 45px;
					width: 45px;
				    object-fit: contain;
				    background: #ddd;
				}
				.logo-search{
				    position: relative;
				    float: left;
				    // height: 23vh;
				    /*height: 16vh;*/
				    height: 134px;
				    width: 100%;

				    .logo{
				    	// height: calc(15vh + 9px);
				    	height: 100%;
				    	text-align: center;
				    	padding: 10px;
				    	background: #eceff1;

				    	img{
				    		height: 100%;
				    	}
				    }
					.searchinput{
						position: relative;
						height: 47px;
						// display: none;

						input{
							&::placeholder{
								color: #888;
							}

						    width: calc(100% - 32px);
						    color: black;
						    padding: 0 15px;
						    float: left;
						    margin: 0;
						    height: 47px;
						    border: none;
						    background: white;
						    border: solid #eee;
						    border-width: 1px;
						}
					}
				}
				.sidebar{
					width: 100%;
					overflow: auto;
					@include alpha($bg, white, .85);
					border: solid #eee;
					border-width: 1px 1px 0 0;
					position: relative;
				    /*height: calc(70vh - 13px);*/
				    height: calc(100vh - 287px);
				    // margin-top: 30vh;
				    margin-top: 0;
				    top: 47px;

					ul{
						width: 100%;
						li{
							a{
								display: block;
								padding: 15px 10px;
								color: $link;

								.icon{
									font-size: 1.2em;
								}

								&:hover{
									background: rgba(221, 221, 221, 0.5);
								}
							}

							&.active{
								&>a{
									background: $core;
									color: #fff;
								}
							}

							ul{
								position: relative;

								&:before{
								    content: "";
								    position: absolute;
								    height: 100%;
								    width: 2px;
								    background: $core;
								    left: 20px;
								    top: 0;
								    z-index: 9;
								}

								li{
									position: relative;

									&::before{
									    content: "";
									    position: absolute;
									    left: 17px;
									    width: 8px;
									    height: 8px;
									    background: $core;
									    top: 24px;
									    border-radius: 9em;
									}
								}
							}
						}
					}
				}

				.content{
				    height: calc(90vh - 41px);
				    padding: 10px;
				    overflow-x: hidden;
				    position: relative;

				    .data-kosong{
					    display: flex;
					    width: 100%;
					    justify-content: center;
					    height: 100%;
					    position: absolute;
					    /* background: red; */
					    top: 0;
					    left: 0;
					    align-items: center;
					    flex-direction: column;
					    text-align: center;

				    	.icon{
						    font-size: 10vw;
				    	}
				    	span:nth-child(2){
						    font-size: 23px;
						    line-height: 1.2;
						    margin-top: 10px;
				    	}
				    }

				    form{
				    	.col{
				    		margin-bottom: 10px;

					    	&.s3{
					    		font-size: 13px;
								padding-top: 10px;
					    	}
				    	}
				    }

				    .mdl-data-table{
					    border: thin solid $core;

					    *{
					    	font-size: 14px;
					    }
				    }
				    #datatables_wrapper{
					    .mdl-grid{
					    	&:nth-child(2){
							    margin-bottom: 40px;
					    	}
					    	&:nth-child(3){
							    position: fixed;
							    bottom: 0;
							    width: calc(83.333333% - 15px);
							    background: white;
							    left: 16.6666666667%;
							    padding: 10px 20px;

							    .mdl-cell--4-col{
							    	float: left;
							    }
					    	}
					    }
				    }
				    .dataTables_wrapper{
				    	margin-bottom: 20px;

				    	.dataTables_info{
				    		font-size:13px;
				    		padding-top:5px;
				    	}
				    	.mdl-grid.dt-table{
					    	overflow: auto;
				    	}

				    	div.dataTables_processing,div.dataTables_processing:before{
				    		position: fixed;
						    left: inherit;
						    right: 0;
						    top: inherit;
						    bottom: 0;
						    width: calc(100% - 16.6666666667%);
						    height: calc(100% - 43px - 64px);
						    font-weight: 600;
						    // font-size: 20px;
						    font-family: 'Raleway', sans-serif;
						    z-index: 99;
						    text-transform: unset;
						    letter-spacing: 1px;
						    animation: datatables-loading 1s infinite ease-in;
				    	}
				    	div.dataTables_processing{
						    background: rgba($core-lighter, .8) url('../images/logo.png') no-repeat center center;
						    background-size: 70px;
						    text-indent: -5000px;

						    &:before{
	   	 						/*padding-top: 25%;
							    text-indent: 0;
							    content: "HARAP TUNGGU ...";*/
						    }
						}

				    	.mdl-button{
							border: none;
							border-radius: 2px;
							display: inline-block;
							height: 30px;
							font-size: 14px;
							line-height: 1.4;
							outline: 0;
							padding: 5px 1rem;
							text-transform: uppercase;
							vertical-align: middle;
							-webkit-tap-highlight-color: transparent;
							background: $core;
							border-radius: 0;
							color: #fff;

						    &:before{
						    	content:'';
						    }

						    &.mdl-button--colored{
						    	@extend .bg-wahana, .darker;
						    }
				    	}
				    }

				    tr{
				    	&:nth-child(odd){
				    		background: rgba($core, .09);
				    	}
					    td, th{
					    	font-size: 15px;
					    	border-radius:0;

							.btn,.btn-flat{
							    font-size: 13px;
							    display: inline-flex;
							    padding: 5px 10px;
							    margin: 0 3px 5px 3px;
							    height: auto;
							    line-height: 1.5;
					    	}
					    }
					    th{
						    white-space: nowrap;
					    }
					    td{
					    	padding: 5px 25px;
						    border-bottom: thin solid $core;
						    white-space: normal;
					    }
				    }
				    .table{
				    	td{
					    	padding: 15px 25px;
				    	}
				    }
				    .headline{
				    	padding: 30px;
				    	margin-bottom: 30px;
				    	@include border-radius(5px);
				    	@include alpha($bg, white, .9);
				    	@include border(1px,solid,#ddd);
				    	/*@extend .z-depth-1;*/
				    }

					&.no-steps{
					    height: calc(90vh - 64px);
					}

					.block{
						width: 100%;
						display: block;
					}
				}
			}
		}
	}


	nav{
		ul{
			li{
				max-height: 64px;

				.dropdown-button{
					height: 64px;
				}
			}
		}

		.brand-logo{
			pointer-events: none;
			margin-left: 20px;
			font-size: 1.5em;
			width: 50%;
		}
		.mini-title{
			float: left;
			width: 100%;
			background: $mini-title-bg;
			border-bottom: 1px solid $core;
			display: flex;
		    justify-content: center;
		    max-height: 42px;

			*{
				height: 45px;
			    float: left;
			    font-size: 17px;
			    color: $mini-title-clr;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    font-weight: bold;
			}
		}
	}

}

.input-field {
    position: relative;
    margin: 0 0 15px 0;

	label {
	    top: 15px;
	    left: 0;
	    text-transform: capitalize;
	}

	.error-notif{
		display: none;
		margin-right: 10px;

		&.on{
			display: block;
		    position: absolute;
		    top: 15px;
		    right: 15px;
		    color: red;
		    font-size: 13px;
		    font-style: italic;
		    pointer-events: none;
		}
	}

	.at-error{
	    z-index: 99;
	    position: absolute;
	    top: 15px;
	    right: 25px;
	    color: $red;
	    font-size: 13px;
	    font-style: italic;
		letter-spacing: .2px;
		line-height: 1.5;
		pointer-events: none;
		text-transform: capitalize;
		padding: 0;
		margin: 0; 
	}

	.file-path ~ .at-error {
	    display: none;
	}

	textarea{
	    background: #fff;
	    box-shadow: none;
	    border: thin solid #ddd;
	    // width: calc(100% - 30px);
	    width: 100%;
	    min-height: 100px;
	    padding: 15px;


		&:focus{
			box-shadow: none !important;
			border-color: #ddd !important;
			background: #f5f5f5;
		}
		&::placeholder {
		    color: #777;
		}
	}

	.select-box{
		position: relative;

		select.browser-default{
		    -webkit-appearance: none;
		    -ms-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
		    padding: 0 15px;
		    border-radius: 0;
		    position: relative;
		    cursor: pointer;
		    z-index: 10;
		    box-shadow: none;
		    border: 1px solid #ddd;


			option{
				padding: 10px;
			}
		}

		&:before{
		    content: "\e688";
		    font-family: 'Pe-icon-7-stroke';
		    top: 0px;
		    right: 5px;
		    position: absolute;
		    z-index: 999;
		    font-size: 2em;
		    pointer-events: none;
		}
		.at-error{
		    right: 35px;
		}
	}

}

.input-field.style-2 {
    position: relative;
    margin: 0 0 15px 0;
    height: 47px;
    text-transform: uppercase;
    /*overflow: hidden;*/
    
	label {
		height: 47px;
		background: #fff;
		padding: 10px 15px;
		top: 0;
		width: 100%;
		border: solid thin #ddd;

		&.active{
		    font-size: 1rem;
		    -webkit-transform: translateY(-140%);
		    -ms-transform: translateY(-140%);
		    transform: translateY(-140%);
			padding: 5px;
			height: 20px;
			line-height: 10px;
		}
	}

	&.select{
	    overflow: visible;

		.select-wrapper{
			input.select-dropdown{
			    border: thin solid rgb(221, 221, 221);
			    padding: 0px 15px;
			    width: calc(100% - 30px);
			    background: #fff;
			}
			span.caret{
				right: 10px;
				z-index: 1;
			}
		}
	}

	input{
	    background: #fff;
	    box-shadow: none;
	    border: 1px solid #ddd;
	    padding: 0px 15px;
	    width: calc(100% - 32px);

		&:focus{
			box-shadow: none !important;
			border-color: #ccc !important;
			background: #f5f5f5;
		}
		&::-moz-placeholder {
		    color: #777;
		}
	}

}

.card.style-1{
	box-shadow: none;
	display: table;
	background: transparent;

	[class^="card"]{
		display: table-cell;
		vertical-align: top;
	}

	.card-image{
		max-width: 150px;
		min-width: 150px;

		img{
			@include border-radius(4px 0 0 4px);
		}

		.card-title{
			position: relative;
			padding: 10px 0;
			color: #444;
			font-size: 18px;
		}
	}
	.card-content{
		@include border(thin,solid,darken(#eee,2%));
		@include border-radius(0 4px 4px 4px);
	}
}

.card.style-2{
	box-shadow: none;
	background: transparent;
	width: 100%;
	overflow: auto;

	> .row{
		display: inline-flex;

		> .col{
			display: inline-flex;
		}
	}

}

table{
	background: #fff;
	margin-bottom: 15px;
	width: 100% !important;

	&.v-top{
		td, th {
		    vertical-align: top;
		}
		
	}
}
td, th {
    padding: 15px 25px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;

    p{
    	margin: 0;
    }
}

[class^=collapsible]{
	box-shadow: none;
	border: none;
}

.sidebar{
	direction: rtl;

	*{
		direction: ltr;
		font-size: 14px;
	}
	.collapsible-header{
		padding: 3.5px 0 3.5px 10px !important;
		background: transparent;
		display: inline-block;
		width: 100%;
		border:none;
		color: $link;

		&:hover{
			background: rgba(221,221,221,0.5);
		}
	}
	.collapsible-body{
		padding: 0;
	}
}

.collapsible{
	// @include alpha($bg, white, .8);
	background: white;
}
.collapsible-header{
    background: rgba(30, 136, 229, 0.75);
    display: inline-block;
    width: 100%;
    color: #fff;
    border-bottom: 2px solid rgba(18, 135, 237, 0.87);
}
.collapsible-body{
	padding:20px 0;
}

.steps-container{
	padding: 0 20px;
	border-bottom: thin solid #eee;
	background: white !important;
	position: relative;

	.pencarian{
	    position: absolute;
	    top: 0;
	    right: 0;
	    margin: 0 15px;

	    .search-form{
	    	position: relative;
		    min-width: 300px;
		    float: left;

			input,select{
				position: absolute;
			    margin: 0;
			    height: 2rem;
			    right: 0;
			    top: 0;
			    margin: 5px 0;
			    border: thin solid #ddd;
			    padding: 0 10px;
		    	background: #fff;
   				padding-left: 30px;

			    &:focus{
			    	border-color: #ddd;
			    	box-shadow: none;
			    	background: rgba(#eee, .3);
			    }
				& + .icon{
					position: absolute;
				    top: 0;
				    right: calc(100% + 15px);
				    margin: 13px 2px;
				    font-size: 16px;
				}
			}
		    .select-box{
		    	float: right;
		    	width: 100%;

			    select{
			    	width: 100%;
					position: static;
	    			height: 32px;
    				border-radius: 0;
		    		background: #fff !important;
			    }
				& + .icon{
					position: absolute;
				    top: 0;
				    left: 7px;
				    margin: 13px 2px;
				    font-size: 16px;
				}
		    }
		    .col{
		    	padding: 0;

		    	.select-box select{
		    		padding-left: 10px;
		    	}
		    }
		}
	    .lanjutan{
	    	float: right;
		    height: 32px;
		    margin: 5px 0;
		    line-height: 32px;
		    background: $core;
		    padding: 0 10px;
		    font-size: 14px;
		    text-transform: capitalize;
		    box-shadow: none;
		    // width: calc(100% - 4px);
		    margin-left: 2px;
		}
	}
	.steps{
		display: flex;
		width: 100%;
		padding: 10px 0;
		margin: 0;
		overflow: auto;

		li{
		    list-style: none;
		    display: inline-flex;
		    padding-right: 10px;
		    white-space: nowrap;

		    &:before{

	    		font-family: 'Pe-icon-7-stroke';
			    font-size: 15px;
			    content: "\e685";
			    float: left;
			    margin-right: 10px;
			    color: #000
		    }

		    &:first-child{
		    	 &:before{
			    	display: none;
			    }
		    }

		    &.active{
		    	a{
		    		pointer-events: none;
		    		color: $core;
		    		font-weight: bold;
		    	}
		    }

			a{
				display: inline-block;
				color: #000;
			}
		}
	}
}

.highcharts-container{
    margin-bottom: 20px;
    width: 100% !important;

	.highcharts-root{
	    border: thin solid $core;
	    width: 100%;
	}
}
.alert{
    padding: 15px 15px 15px 55px;
    position: relative;
    margin-bottom: 15px;

   	.icon{
	    position: absolute;
	    left: 15px;
	    font-size: 30px;
	    top: 10px;
    }
}

.active{
	ul{
		li{
			a{
				padding-left: 40px !important;
			}
		}
	}
}

.report-table{
	background:transparent;
	tr{
		td{
			padding:3px 6px;
			text-transform: capitalize;
			vertical-align: top;

			&.title{
				text-transform: uppercase;
				font-weight: 600;
			}
		}
	}
}
.logo-sistem{
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.74);
    margin-bottom: 10px;
}
.link-icon{
    display: block;
    padding: 65px 0 15px 0;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    position: relative;

	.link-title{
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% + 6px);
		padding: 10px 15px;
	    text-align: left;

		&::before{
		    content: "";
		    position: absolute;
		    border-top: 5px solid #086cba;
		    border-right: 5px solid transparent;
		    right: 1px;
		    top: 44px;
		}
	}

	.icon{
		font-size: 60px;
		display: block;
	}
}

.mCSB_inside {
	&>.mCSB_container{
		margin: 0;
		}
	}
.mCSB_scrollTools{
	z-index: 1;
	margin: 15px 5px;
}
div.switch:before{
	content:"";
}
.gallery-preview{
	display: block;

	li{
		margin: 3px;
		display: inline-block;
	}
}
.data-thumbnail{
	display: block;

	li{
		vertical-align: top;
		margin: 5px 10px;
		display: inline-block;
		width: 20%;
		word-break: break-word;
	}
}
.modal{
    // min-height: calc(200px + 56px) !important;
    // height: auto !important;

    .modal-title{
	    padding: 10px 25px;
	    border-bottom: thin solid #eee;
	    margin: 0;
	    font-size: 20px;
	    text-transform: capitalize;
	    text-align: center;
    }
    .modal-title ~ .modal-content{
	    height: calc(100% - 56px - 48px);
	    padding: 15px 25px;
    }
	&.modal-fixed-footer{
		.modal-footer {
			border-top: 1px solid rgba(132, 131, 131, 0.11);
		}
	}
}
.sidebar-active{
	background: $core-lighter;
}
.spacer{
	height: 10px;
}
#modalpaketselect{
	ul li{
		display: inline-block;
		vertical-align: top;
		margin: 10px
	}
	label{
		display: block;
		margin-bottom: 5px;
		text-transform: uppercase;
	}
}

.tombol-absen{
	width: 150px;
	height: 150px;
	border-radius: 90em;
	// display: table-cell;
	font-size: 50px;
	line-height: 2.75;

	*{
		margin: 0;
	}
}
.sidebar-header{
	padding: 20px;
	background: $core;
	height: 100px;
	position: relative;


	.img-container{
		position: absolute;
		top: 25%;
	}
	a{
		position: absolute;
		left: 50px;
		pointer-events: none;
		top: 20%;
		text-transform: capitalize;
		width: calc(100% - 50px);
		@extend .truncate;
	}
}
.img-container{
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 90em;
	background: #eee;
}
.ta-l-s{
	text-align: auto;
}
.wb-all{
	word-break: break-all;
}
.print_me_pls{
	.print_title{
		display: none;
	}
}
.rotate-270{
	transform: rotate(270deg);
	line-height: 63px !important;
}
table{
	thead{
		th{
			background: $core;
			color: white;
		}
	}
}

.ui-select-choices{
    background: white;
    position: absolute;
    z-index: 9;
    border: thin solid #eee;

    &-row-inner{
    	padding: 7px 20px;
    }
}
.ui-select-search{
    background: #fff;
    box-shadow: none;
    border: 1px solid #ddd !important;
    padding: 0px 15px !important;
    width: calc(100% - 32px) !important;
    height: 3rem !important;

	&:focus{
		box-shadow: none !important;
		border-color: #ccc !important;
		background: #f5f5f5;
	}
	&::-moz-placeholder {
	    color: #777;
	}
}


.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in{
	// width: 400px !important;

	[class^="mce-container"]{
		// width: 400px !important;	
	}
}
.mce-combobox input,.mce-window-body .mce-listbox{
	width: 200px !important;
}
.mce-textbox {
    width: 235px !important;
}

.tabs{
	.tab{
		a{
			color: $core;

			&:focus,&:hover{
				color: $core;
			}
			&.active{
				font-weight: bold;
			}
		}
	}
	.indicator{
		background-color: $core;
	}
}