body{
	font-family: 'PT sans', sans-serif;
	// background: {
	// 	image:url($bg-img);
	// 	position: fixed;
	// 	repeat:no-repeat;
	// 	size:cover;
	// }
}
a{
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6{
	margin-top: 20px;

	&:first-child{
		margin-top: 0;
	}
	small{
		color: lighten(#444,20%);
	}
}

.uppercase{
	text-transform: uppercase;
}
.lowercase{
	text-transform: lowercase;
}
.capitalize{
	text-transform: capitalize;
}

.rounded{
	@include border-radius(4px);
}
.circle{
	@include border-radius(999em);
}
.box{
	@include border-radius(0);
}

.no-margin{
	margin: 0 !important;
}
.no-padding{
	padding: 0 !important;
}
.w-100{
	width: 100%;
}
.overflow-xy-hide{
	overflow: hidden;
}
.overflow-x-hide{
	overflow-x: hidden;
}
.overflow-y-hide{
	overflow-y: hidden;
}

.overflow-xy-auto{
	overflow: auto;
}
.overflow-x-auto{
	overflow-x: auto;
}
.overflow-y-auto{
	overflow-y: auto;
}

.overflow-xy-visible{
	overflow: visible;
}
.overflow-x-visible{
	overflow-x: visible;
}
.overflow-y-visible{
	overflow-y: visible;
}
