@mixin alpha($type, $warna, $value){
	#{$type}: rgba($warna, $value);
}

@mixin border-transparent($value){
	border-color: rgba(255,255,255,$value);
}

@mixin border($width,$type,$color){
	border: $width $type $color;
}

@mixin border-radius($value){
	-webkit-border-radius:$value !important;
	-moz-border-radius:$value !important;
	-ms-border-radius:$value !important;
	-o-border-radius:$value !important;
	border-radius:$value !important;
}

@mixin font($value,$type){
	font-family: $value,$type;
}

@mixin warna($type, $value){
	#{$value}: #{$type};
}