$full-width : 100vh;
$bg-color : .95;

$bg  	: background;
$clr  	: color;

$red	: #f44336;
$green 	: #4caf50;
$blue 	: #2196f3;

$cyan	: #00bcd4;
$magenta: #ad1457;
$yellow	: #ffeb3b;
$black	: #000000;

$core			: #0F789B;
$core-darker	: #414142;
$core-lighter	: #fff;
$link 			: lighten(#000, 20%);

$bg-img	: '../images/Pintu-Kabah.jpg';

$content-bg: white;

// $mini-title-bg: color('blue-grey','lighten-5');
$mini-title-bg: #222;
$mini-title-clr: white;
