body{
	// font-family: 'Bitter', serif;
	font-family: unset;
	background: #f4f4f4 !important;

	// background: {
	// 	image: url(../images/login.png);
	// 	position: fixed;
	// 	repeat:no-repeat;
	// 	size:cover;
	// }

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar-login{
    width: 350px;
    margin: auto;
	// height: 100vh;
	background: rgba(255,255,255,.6);

	.input-field{
		.prefix{
			top: 10px;
		}
		label{
			// text-transform: uppercase;
			letter-spacing: 2px;	
		}
		input{
			font-weight: bold;
		}
	}
	center{
		margin-bottom: 30px;

		img{
			width: 120px;
			margin: 15px;
		}
	}
}
.login-btn{
    letter-spacing: 3px;
    font-size: 25px;
}
.warning{
    color: #D2AD30;
    font-weight: bold;
}

  /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=password]:focus + label,
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus,
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=password].valid,
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=password].invalid,
   .input-field input[type=text].invalid {
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 red;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
